*{
	/*
	border: 1px solid black;
	*/
	margin: 0;
	padding: 0;
}

body{
	background-color: #BurlyWood;
}

.hotbar{
	background-color: BlanchedAlmond ;
	text-align: center;
	padding: 3px 0;
	width: 100%;
}

.banner{
  background-image: url("hacker.png");
  background-size: cover;
  background-position: bottom center;
  height: 500px;
  width: 100%;
}

.banner-text{
	font-family: 'Open Sans';
	font-size: 65px;
	position: relative;
	padding-top: 100px;
	text-align: center;
	color: #AABBCC;
}

#small-banner{
	font-size: 30px;
	font-style: italic;
}

#nib{
	color: red;
}

.hotbar a{
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Raleway', Papyrus, sans-serif;
	margin: 7px 5px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid black;
	border-radius: 3px;
}

.hotbar a:hover{
	background: #000;
	color: #FFF;
}


#logo{
	text-transform: lowercase;
}