*{
	/*
	border: 1px solid black;
	*/
	margin: 0;
	padding: 0;
}

body{
	background-color: white;
}


.hotbar{
	
	background-color: #474747 ;
	text-align: center;
	padding: 3px 0;
	width: 100%;
}

.hotbar a{
	background-color: #363636;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Raleway', Papyrus, sans-serif;
	margin: 7px 5px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid black;
	border-radius: 3px;
	color: #A8A7A7;
}

.hotbar a:hover{
	background: #000;
	color: #FFF;
}

.banner{
  background-image: url("hacker.png");
  background-size: cover;
  background-position: bottom center;
  height: 500px;
  width: 100%;
}

.banner-text{
	font-family: 'Open Sans';
	font-size: 65px;
	position: relative;
	padding-top: 100px;
	text-align: center;
	color: #AABBCC;
}

#small-banner{
	font-size: 30px;
	font-style: italic;
}

.nib{
	color: red;
}

.content {
	
	margin: 10px 25%;
	height: 500px;
	
	font-family: Raleway;
}

.stuff{
	margin-top: 10px;
	text-align:center;
}
.stuff p{
	margin-top: 10px;
	text-align: left;
	padding: 0px 200px;
}
.photo{
	margin: 0 31%;
	height: 300px;
	width: 300px;
	background-image: url("school.jpg");
	border-radius: 100%;
}

#logo{
	text-transform: lowercase;
}